# for local, personal .claude rules, etc.
settings.local.json
settings.local.*
.claude/**/*.local.*
.claude/**local**.md
.claude/agents/**local**.md
.claude/commands/**local**.md
.claude/rules/**local**.md
.claude/skills/**local**.md

# for project .claude rules, etc.
settings.project.json
settings.project.*
.claude/**/*.project.*
.claude/**project**.md
.claude/agents/**project**.md
.claude/commands/**project**.md
.claude/rules/**project**.md
.claude/skills/**project**.md