# for local, personal rules, etc.
settings.local.json
settings.local.*
**/*.local.*
**local**.md
agents/**local**.md
commands/**local**.md
rules/**local**.md
skills/**local**.md

# for project rules, etc.
settings.project.json
settings.project.*
**/*.project.*
**project**.md
agents/**project**.md
commands/**project**.md
rules/**project**.md
skills/**project**.md
